<?xml version="1.0"?>

<launch>
    <node pkg="rqt_gui" type="rqt_gui" name="frame_editor" 
        args="--standalone frame_editor --args --load '$(find frame_editor)/etc/frames.yaml'"
        output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find frame_editor)/etc/frame_editor.rviz"/>
</launch>
